<!DOCTYPE html>
<!-- helps browsers with file recognition- just chuck one up here at the start, not super importamnt-->
<html>
<!-- open html tag-->

<head>
    <!-- browser reads this stuff first, so here we import js files, put the title etc.-->
    <!--  <link rel="stylesheet" href="css/main.css">-->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="Libraries/p5.js"></script>


    <!-- script type tells what type of text is in the subfile, src is source: name of the source file-->

    <title>Poker Game</title>
</head>

<script>

    //TODO CLASS STRUCTURE FRONT END (is necessary)
    var socket = io();
    var table
    var players = []
    var my_player
    socket.on('send_data', function (data) {


        table = data.table
        players = data.players
        my_player = data.my_player
        console.log(my_player)
    })

    var bg
    var table_img
    var table_scale = (window.innerWidth + window.innerHeight / 2) / 550
    var card_scale = (window.innerWidth + window.innerHeight / 2) / 25
    var card_image_arr = []


    function initScales() {
        table_scale = (window.innerWidth + window.innerHeight / 2) / 550
        card_scale = (window.innerWidth + window.innerHeight / 2) / 25
    }
    function loadCards() {
        //in lumps of 13, order is: A-K 
        //HEARTS 0-12 
        //DIAMONDS 13-25
        //SPADES 26-38
        //CLUBS 39-51
        card_image_arr.push(loadImage("ass/cards/green_back.png"))
        for (var i = 0; i < 52; i++) {
            card_image_arr.push(loadImage("ass/cards/card" + i + ".png"))
        }
    }

    function setup() {
        createCanvas(window.innerWidth, window.innerHeight)
        bg = loadImage("ass/background.jpg")
        table_img = loadImage("ass/tableimg.png");
        card_img = loadImage("ass/cards/card0.png")
        torterror = loadImage("ass/torterror.jpg");
        gabriel = loadImage("ass/garbriel.png");
        loadCards()
    }

    function draw() {
        //drawtable()
        background(bg)

        drawTable()
        drawPlayers()
        drawHoleCards()
        drawDeck()
        displayStack()
    }

    function windowResized() { //auto called when resize browser
        resizeCanvas(windowWidth, windowHeight);
        initScales()
    }

    function drawTable() {
        if (table = ! null) {
            image(table_img, window.innerWidth / 2 - table_img.width * table_scale / 2, window.innerHeight / 2 - table_img.height * (table_scale / 2) * 3 / 2, table_img.width * table_scale, table_img.height * table_scale * 3 / 2);
        }
    }
    function drawPlayers() {
        /*for (var i = 0; i < players.length; i++) {
            ellipse(window.innerWidth / 2, window.innerHeight / 2 - table_img.height * (table_scale / 2) + table_img.height * table_scale * i, 60, 60)
        }*/
        image(torterror, window.innerWidth / 2 - 110, window.innerHeight / 2 - table_img.height * (table_scale / 2) + table_img.height * 3 / 4 * table_scale, 100, 100)
        image(gabriel, window.innerWidth / 2 - 110, window.innerHeight / 2 - table_img.height * (table_scale / 2), 100, 100)
    }
    function displayStack() {
        for (var i = 0; i < players.length; i++) {
            textSize(32)

            text(players[i].stack, window.innerWidth * 3 / 5, window.innerHeight / 2 - table_img.height * (table_scale / 2) + table_img.height * table_scale * i * 3 / 4, 200, 200)
        }
    }

    function drawDeck() {
        image(card_image_arr[0], window.innerWidth / 2 - table_img.width * (table_scale) / 4, window.innerHeight / 2, card_scale, card_scale * 1.25)
    }

    function drawHoleCards() {



        for (var i = 0; i < players.length; i++) {
            for (var j = 0; j < players[i].hole_cards.length; j++) {
                var x = 0
                if (my_player != null) {
                    if (my_player.hole_cards[j].suit == 'HEARTS') {
                        x = 0
                    }
                    if (my_player.hole_cards[j].suit == 'DIAMONDS') {
                        x = 1
                    }
                    if (my_player.hole_cards[j].suit == 'SPADES') {
                        x = 2
                    }
                    if (my_player.hole_cards[j].suit == 'CLUBS') {
                        x = 3
                    }
                }

                if (my_player != null && players[i].id == my_player.id && my_player.hole_cards.length > 0) {
                    //console.log(my_player.hole_cards[j])
                    image(card_image_arr[13 * x + my_player.hole_cards[j].number], window.innerWidth / 2 + card_scale / 2 * j, window.innerHeight / 2 - table_img.height * (table_scale / 2) + table_img.height * table_scale * i * 3 / 4, card_scale, card_scale * 1.25)
                } else {
                    image(card_image_arr[0], window.innerWidth / 2 + card_scale / 2 * j, window.innerHeight / 2 - table_img.height * (table_scale / 2) + table_img.height * table_scale * i * 3 / 4, card_scale, card_scale * 1.25)
                }


                //console.log(13 * x + my_player.hole_cards[j].number)               

            }
        }

    }

</script>

<script>


    player_card_array = [{ suit: "SPADES", number: 2 }, { suit: "SPADES", number: 1 }, { suit: "SPADES", number: 3 }, { suit: "SPADES", number: 4 }, { suit: "SPADES", number: 5 }, { suit: "CLUBS", number: 4 }, { suit: "CLUBS", number: 10 }]
    var matching_cards_array = []
    var flush_cards_array = []
    var flush_cards = []
    var j_count = 1
    for (var i = 0; i < player_card_array.length; i++) {
        for (var j = j_count; j < player_card_array.length; j++) {
            if (player_card_array[i].number == player_card_array[j].number) {

                console.log(player_card_array[i].number + ' = ' + player_card_array[j].number)
                matching_cards_array.push(player_card_array[i])

            }
        }
        j_count++
    }

    console.log(matching_cards_array)
    j_count = 1
    var flush_suit
    for (var i = 0; i < player_card_array.length; i++) {
        for (var j = j_count; j < player_card_array.length; j++) {
            if (player_card_array[i].suit == player_card_array[j].suit) {

                console.log(player_card_array[i].suit + ' = ' + player_card_array[j].suit)
                flush_cards_array.push(player_card_array[i])

            }
        }
        j_count++
    }
    //console.log(flush_cards_array)
    if (flush_cards_array.length > 9) {
        for (var i = 0; i < flush_cards_array.length - 2; i++) {
            if (flush_cards_array[i].suit == flush_cards_array[i + 1].suit && flush_cards_array[i + 1].suit == flush_cards_array[i + 2].suit) {
                flush_suit = flush_cards_array[i].suit
            }

        }
        for (var i = 0; i < flush_cards_array.length; i++) {
            if (flush_cards_array[i].suit == flush_suit) {
                flush_cards.push(flush_cards_array[i])
            }
        }
    }
    //console.log(flush_cards)

    var number_array = []
    var straight_array = []
    for (var i = 0; i < player_card_array.length; i++) {
        number_array.push(player_card_array[i].number)
    }
    function sortNumber(a, b) {
        return a - b;
    }
    
    number_array.sort(sortNumber)
    for (var i = 0; i < number_array.length - 1; i++) {
        if (number_array[i] == number_array[i + 1]) {
            number_array.splice(i, 1)
        }
    }

    console.log(number_array)
    for (var i = 0; i < number_array.length - 3; i++) {
        if (number_array[i] == number_array[i + 1] - 1 && number_array[i] == number_array[i + 2] - 2 && number_array[i] == number_array[i + 3] - 3) {
            straight_array.push(number_array[i + 3])
        }
        console.log(straight_array)
    }

    if (straight_array.length > 1) {
        console.log("straight_time " + straight_array)
    }


</script>