<!DOCTYPE html>
<!-- helps browsers with file recognition- just chuck one up here at the start, not super importamnt-->
<html>
<!-- open html tag-->

<head>
    <!-- browser reads this stuff first, so here we import js files, put the title etc.-->
    <!--  <link rel="stylesheet" href="css/main.css">-->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="Libraries/p5.js"></script>

    <!-- script type tells what type of text is in the subfile, src is source: name of the source file-->

    <title>Poker Game</title>
</head>

<script>

    //TODO CLASS STRUCTURE FRONT END (is necessary)
    var socket = io();
    var table
    var players = []

    socket.on('send_data', function (data) {
        console.log(data)

        table = data.table
        players = data.players
        my_player = data.my_player
        console.log(my_player)
    })

    var bg
    var table_img
    var table_scale = (window.innerWidth + window.innerHeight / 2) / 550
    var card_scale = (window.innerWidth + window.innerHeight / 2) / 25
    var card_image_arr = []

    function initScales() {
        table_scale = (window.innerWidth + window.innerHeight / 2) / 550
        card_scale = (window.innerWidth + window.innerHeight / 2) / 25
    }
    function loadCards() {
        //in lumps of 13, order is: A-K 
        //DIAMONDS 0-12 
        //HEARTS 13-25
        //SPADES 26-38
        //CLUBS 39-51
        card_image_arr.push(loadImage("ass/cards/green_back.png"))
        for (var i = 1; i < 53; i++) {
            card_image_arr.push(loadImage("ass/cards/card" + i + ".png"))
        }
    }

    function setup() {
        createCanvas(window.innerWidth, window.innerHeight)
        bg = loadImage("ass/background.jpg")
        table_img = loadImage("ass/tableimg.png");
        loadCards()
    }
    function drawTable() {
        if (table = ! null) {
            image(table_img, window.innerWidth / 2 - table_img.width * table_scale / 2, window.innerHeight / 2 - table_img.height * (table_scale / 2) * 3 / 2, table_img.width * table_scale, table_img.height * table_scale * 3 / 2);
        }
    }
    function drawPlayers() {
        for (var i = 0; i < players.length; i++) {
            ellipse(window.innerWidth / 2, window.innerHeight / 2 - table_img.height * (table_scale / 2) + table_img.height * table_scale * i, 60, 60)
        }
    }
    function draw() {
        //drawtable()
        background(bg)
        image(card_image_arr[0], 50, 50, card_scale, card_scale * 1.25)

        drawTable()
        drawPlayers()

    }
    function windowResized() { //auto called when resize browser
        resizeCanvas(windowWidth, windowHeight);
        initScales()
    }

    function drawHoleCards() {
        for (var i = 0; i < players.length; i++) {
            for (var j = 0; j < players.hole_cards.length; j++) {

            }
        }
    }
</script>